
extends ../../public/templates/base.jade

block title
  title #{incident.city}
  
block content
  //This page displays a single incident and allows you to update it's information.
  div.row
    div.col-md-12
      iframe(width="560" height="315" src="https://youtube.com/embed/#{incident.video}" frameborder="0" allowfullscreen)#video
      p.text-center #{incident.description}
  
  button(data-toggle="collapse" data-target="#form").btn.btn-default Update Information
  div#form.col-md-12.collapse
    form(action="/incidents/#{incident.city}" method="POST")
      p
        label Rally Location
        br
        input(type="text" id="city" name="city" value="#{incident.city}" placeholder="City")
        input(type="text" id="state" name="state" value="#{incident.state}" placeholder="State")
        br
        input(type="text" id="lat" name="lat" value="#{incident.lat}" placeholder="Latitude")
        br
        input(type="text" id="long" name="long" value="#{incident.long}" placeholder="Longitude")
      p
        label Rally Date
        br
        input(type="text" id="date" name="date" value="#{incident.date}" placeholder="mm/dd/yyyy")
      p
        label Incident Category
        br
        select(name="type" id="type")
          option(value="Verbal Abuse") Verbal Abuse
          option(value="Assault") Assault
          
      p
        label YouTube Video ID
        br
        input(type="text" name="video" id="video" value="#{incident.video}" placeholder="ID")
      p
        label Description
        br
        input(type="text" value="#{incident.description}" name="description" id="description")
      p
        a(href="/incidents/delete/#{incident.city}") Delete This Incident
      
      button.btn.btn-default Update Incident
