
extends ../../public/templates/base.jade

block title
  title #{incident.city}
  
block content
  //This page displays a single incident and allows you to update it's information.
  script.
    $(document).ready(function(){
      document.getElementById("type").value = "#{incident.type}";
      document.getElementById("state").value = "#{incident.state}";
      $("#updateBtn").click(function(){
        $("html, body").animate({ scrollTop: $(document).height()}, "slow");
      });
    });
  
  div.row
    div.col-md-2
    div.col-md-8
      div#videoWrap
        iframe(width="560" height="315" src="https://youtube.com/embed/#{incident.video}" frameborder="0" allowfullscreen)#youTube
    div.col-md-2
  div.row
    div.col-md-2
    div.col-md-8
      p#descriptionText.text-center #{incident.description}
    div.col-md-2
  
  button(data-toggle="collapse" data-target="#form")#updateBtn.btn.btn-default Update Information
  div#form.col-md-12.collapse
    form(action="/incidents/#{incident.city}" method="POST")
      p
        label Rally Location
        br
        input(type="text" id="city" name="city" value="#{incident.city}" placeholder="City")
        select(name="state" id="state")
          option(value="AL") Alabama
          option(value="AK") Alaska
          option(value="AZ") Arizona
          option(value="AR") Arkansas
          option(value="CA") California
          option(value="CO") Colorado
          option(value="CT") Connecticut
          option(value="DE") Delaware
          option(value="DC") District Of Columbia
          option(value="FL") Florida
          option(value="GA") Georgia
          option(value="HI") Hawaii
          option(value="ID") Idaho
          option(value="IL") Illinois
          option(value="IN") Indiana
          option(value="IA") Iowa
          option(value="KS") Kansas
          option(value="KY") Kentucky
          option(value="LA") Louisiana
          option(value="ME") Maine
          option(value="MD") Maryland
          option(value="MA") Massachusetts
          option(value="MI") Michigan
          option(value="MN") Minnesota
          option(value="MS") Mississippi
          option(value="MO") Missouri
          option(value="MT") Montana
          option(value="NE") Nebraska
          option(value="NV") Nevada
          option(value="NH") New Hampshire
          option(value="NJ") New Jersey
          option(value="NM") New Mexico
          option(value="NY") New York
          option(value="NC") North Carolina
          option(value="ND") North Dakota
          option(value="OH") Ohio
          option(value="OK") Oklahoma
          option(value="OR") Oregon
          option(value="PA") Pennsylvania
          option(value="RI") Rhode Island
          option(value="SC") South Carolina
          option(value="SD") South Dakota
          option(value="TN") Tennessee
          option(value="TX") Texas
          option(value="UT") Utah
          option(value="VT") Vermont
          option(value="VA") Virginia
          option(value="WA") Washington
          option(value="WV") West Virginia
          option(value="WI") Wisconsin
          option(value="WY") Wyoming
        br
        input(type="text" id="lat" name="lat" value="#{incident.lat}" placeholder="Latitude")
        br
        input(type="text" id="long" name="long" value="#{incident.long}" placeholder="Longitude")
      p
        label Rally Date
        br
        input(type="text" id="date" name="date" value="#{incident.date}" placeholder="mm/dd/yyyy")
      p
        label Incident Category
        br
        select(name="type" id="type")
          option(value="Verbal abuse") Verbal Abuse
          option(value="Beating") Beating
          option(value="Shoving") Shoving
          option(value="Racial slurs") Racial Slurs
          option(value="Sucker-punch") Sucker-punch 
          
      p
        label YouTube Video ID
        br
        input(type="text" name="video" id="video" value="#{incident.video}" placeholder="ID")
      p
        label Description
        br
        textarea(rows="5" cols="50" name="description" id="description") #{incident.description}
      p
        a(href="/incidents/delete/#{incident.city}") Delete This Incident
      
      button.btn.btn-default Update Incident
