
extends ../../public/templates/base.jade

block title
  title #{incident.first} #{incident.last}
  
block content
  //This page displays a single incident and allows you to update it's information.
  div.row
    div.col-md-12
      iframe(width="560" height="315" src="https://youtube.com/embed/#{incident.video}" frameborder="0" allowfullscreen)
      p Protestor #{incident.first} #{incident.last} was removed from a Trump campaign rally in #{incident.location} on #{incident.date} after enduring #{incident.type} from Trump supporters.
  
  button(data-toggle="collapse" data-target="#form").btn.btn-default Update Information
  div#form.col-md-12.collapse
    form(action="/incidents/#{incident.last}" method="POST")
      p
        label Victim Name
        br
        input(type="text" id="first" name="first" value="#{incident.first}" placeholder="First Name")
        input(type="text" id="last" name="last" value="#{incident.last}" placeholder="Last Name")
      p
        label Rally Location
        br
        input(type="text" id="location" name="location" value="#{incident.location}" placeholder="City, ST")
        br
        input(type="text" id="lat" name="lat" value="#{incident.lat}" placeholder="Latitude")
        br
        input(type="text" id="long" name="long" value="#{incident.long}" placeholder="Longitude")
      p
        label Rally Date
        br
        input(type="text" id="date" name="date" value="#{incident.date}" placeholder="mm/dd/yyyy")
      p
        label Incident Category
        br
        select(name="type" id="type")
          option(value="Verbal Abuse") Verbal Abuse
          option(value="Assault") Assault
          
      p
        label YouTube Video ID
        br
        input(type="text" name="video" id="video" value="#{incident.video}" placeholder="ID")
      p
        label Description
        br
        input(type="text" value="#{incident.description}" name="description" id="description")
      p
        a(href="/incidents/delete/#{incident.last}") Delete This Incident
      
      button.btn.btn-default Update Incident
